[submodule "Folha-Refatorada"]
	path = Folha-Refatorada
	url = https://github.com/ewertonfelipee/Folha-Refatorada.git
[submodule "CG-LabProj"]
	path = CG-LabProj
	url = https://github.com/ewertonfelipee/CG-LabProj.git
